In [20]:
import pandas as pd
import numpy as np
import altair as alt
import json
from pathlib import Path
from datetime import datetime
import time
from tqdm.notebook import trange, tqdm
import os
import pprint
from sys import getsizeof

from utils import timestampToDate, dateToTimestamp

import utils
import importlib
importlib.reload(utils)

In [5]:
ids = [match.split(".")[0] for match in os.listdir("matches/")]
with open("ODESAFIO.json","rb") as f: 
    nl_id = json.loads(f.read())["puuid"]

In [6]:
challenge_keys = ["damagePerMinute","goldPerMinute","visionScorePerMinute","visionScoreAdvantageLaneOpponent","kda","maxCsAdvantageOnLaneOpponent","bountyGold"]
info_keys = []

In [7]:
# matches
matches_complete = []
for match_id in tqdm(ids[:2]):
    with open(f'matches/{match_id}.json','r') as f:
        match = json.load(f)
    with open(f'timelines/{match_id}.json','r') as f:
        timeline = json.load(f)
    
    nl_pdto = [ p for p in match["info"]["participants"] if p["puuid"] == nl_id][0]
    del nl_pdto["perks"]
    print()
    # matches_complete.append({'match': match, 'timeline': timeline})
    # print(matches)
# nl_pdto

  0%|          | 0/2 [00:00<?, ?it/s]

In [43]:
t = match["info"]["gameStartTimestamp"] #+ 1000 * match["info"]["gameDuration"]
# print(dateToTimestamp('10.03.2022'))
# print(print(pd.to_datetime(ts)))
print(t, pd.to_datetime(t, unit='ms'))
print(pd.Timestamp('10.03.2022'))
# timestampToDate(t)

1647081816854 2022-03-12 10:43:36.854000
2022-10-03 00:00:00

In [47]:
pd.DataFrame([match["info"] for match in matches])

,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,mapId,participants,platformId,queueId,teams,tournamentCode
0,1647078376000,1507,1647079979576,2479819180,CLASSIC,teambuilder-match-2479819180,1647078471878,MATCHED_GAME,12.5.425.9171,11,"[{'assists': 3, 'baronKills': 0, 'bountyLevel'...",BR1,420,"[{'bans': [{'championId': 92, 'pickTurn': 1}, ...",
1,1647081684000,959,1647082776002,2479819901,CLASSIC,teambuilder-match-2479819901,1647081816854,MATCHED_GAME,12.5.425.9171,11,"[{'assists': 0, 'baronKills': 0, 'bountyLevel'...",BR1,420,"[{'bans': [{'championId': 777, 'pickTurn': 1},...",